<form hx-post="{% url 'student_login_step' %}" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <input type="hidden" name="pseudonym" value="{{ pseudonym }}">
    {{ form.password1 }}
    {% for error in form.password1.errors %}
        <div class="text-red-500 text-sm mt-2">{{ error }}</div>
    {% endfor %}
    {{ form.password2 }}
    {% for error in form.password2.errors %}
        <div class="text-red-500 text-sm mt-2">{{ error }}</div>
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="text-red-500 text-sm mt-2">{{ error }}</div>
    {% endfor %}
    <button type="submit" class="mt-4 w-full bg-blue-500 text-white py-2 rounded">Passwort setzen</button>
</form>
