<div class="p-4">
    <form hx-post="{% url 'class_time_limit' classroom.id %}" hx-target="#time-limit-modal" hx-swap="outerHTML">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_max_planning_execution_minutes" class="block mb-2 text-sm font-medium text-gray-900">Maximale Zeit für Planung und Durchführung (Minuten)</label>
            {{ form.max_planning_execution_minutes }}
        </div>
        <div class="flex justify-end space-x-2">
            <button type="button" data-modal-hide="time-limit-modal" class="text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 rounded-lg text-sm px-5 py-2.5">Abbrechen</button>
            <button type="submit" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Speichern</button>
        </div>
    </form>
</div>
